.loginbutton{
    background-color: rgb(200, 1, 1);
    color: white;
    border-radius: 3px;
    margin-right: 10px;
    border: none;
    padding: 5px 20px;
    border-radius: 10px;
    font-weight: bold;
}
.signupbutton{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 3px;
    margin-right: 10px;
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
}

.userDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
.userName{
    color: white;
    font-size: 13px;
    margin: 0;
}
.userIcon{
    margin-left: 10px;
    background-color: white;
    color: red;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userIcon h5{
    margin: 0;
    font-size: 20px;
}
.userImage{
    width: 35px;
    margin-left: 10px;
    border-radius: 50%;
    outline: 3px solid white;
}