.profileContainer{
    width: 100%;
    min-height: 100vh;
    color: white;
    padding-top: 50px;
    
}
.userProfile{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.userProfile img{
    width: 100px;
    height: 100px;
    outline: 5px solid rgb(255, 255, 255);
    border-radius: 50%;
}
.userIcon {
    width: 100px;
    height: 100px;
    outline: 5px solid rgba(255, 255, 255, 0.84);
    border-radius: 50%;
    background-color: rgb(175, 2, 2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.userIcon p{
    font-size: 65px;
    margin: 0;
}
.userProfile h4{
    margin-top: 20px;
}
.itemImage{
    border: 2px solid rgba(200, 182, 182, 0.521)
}

.mContent p{
    margin: 0;
}

.ticket-row{
    background-color: rgb(240, 248, 255);
    color: black;
}
.view-button{
    background-color: rgba(0, 0, 0, 0.573);
    color: white;
    padding: 3px 15px;
    border-radius: 10px;
    border: none;
}
.view-button:hover{
    background-color: rgba(255, 255, 255, 0.573);
    color: rgb(0, 0, 0);
}

.ticketsContainer{
    max-height: 50vh;
    overflow-y: auto;
    padding-right: 8px;
}
