<div class="sidebar-shell" [class.sidebar-shell--open]="_opened">
  <nav class="sidebar-panel" aria-label="Primary navigation">
    <button
      class="sidebar-close"
      type="button"
      aria-label="Close navigation menu"
      (click)="closeSidebar()"
    >
      <i class="left-menu-icon fas fa-close fa-xl"></i>
    </button>
    <div class="sidebar">
      <i routerLink="/search" (click)="closeSidebar()" class="left-menu-icon fas fa-search fa-xl"></i>
      <i routerLink="/" (click)="closeSidebar()" class="left-menu-icon fas fa-home fa-xl"></i>
      <i routerLink="/profile" (click)="closeSidebar()" class="left-menu-icon fas fa-user fa-xl"></i>
      <i class="left-menu-icon fas fa-bookmark fa-xl"></i>
      <i class="left-menu-icon fas fa-tv fa-xl"></i>
      <i class="left-menu-icon fas fa-hourglass-start fa-xl"></i>
    </div>
  </nav>

</div>
