/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@300;400&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;900&family=Satisfy&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* 
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Satisfy', cursive;
    font-family: 'Space Grotesk', sans-serif;
*/
*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #0b0b10;
}
::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track{
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(175, 2, 2);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.15);
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
