/* card styles */
.mContainer{
  margin-bottom: 30px;
}
.mContainerHead{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
}
.mContainerHead h2{
  cursor: pointer;
  margin: 0;
}
.mContainerHead h6{
  cursor: pointer;
  margin: 0;
}
.mContainerList{
  display: flex;
  padding: 10px 25px;
  gap: 20px;
  overflow-x: auto;
  /* background-color: aqua; */
}

.card {
  min-width: 14rem;
  height: 23rem;
  border-radius: 8px;
  overflow:hidden;
  cursor: pointer;
  position: relative;
  color: #f0f0f0;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  background-color: black;
}
.card:hover{
  box-shadow: 0 0px 10px 2px rgba(255, 255, 255, 0.2);
}
.card img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
  transition: opacity 0.2s ease-out;
  
}
.card h4 {
  position: absolute;
  inset: auto auto 30px 30px;
  margin: 0px;
  padding-right: 20px;
  transition: inset 0.3s 0.3s ease-out;
  font-weight: normal;
  opacity: 0;
  font-weight: bold;
}
.card p {
  position: absolute;
  opacity: 0;
  max-width: 80%;
  transition: opacity 0.3s ease-out;
  font-size: 15px;
  font-weight: bold;
}
.card .genre{
  opacity: 1;
  font-weight: bold;
  font-size: 12px;
  display: inline-table;
  margin-right: 5px;
  margin-top: 275px;
}
.card p {
  inset: auto auto 80px 30px;
}
.card-content{
  padding-left: 30px;
  padding-right: 30px;
}
.card .genre {
  inset: auto auto 40px 30px;
}
.card:hover h4 {
  inset: auto auto 130px 30px;
  transition: inset 0.3s ease-out;
  opacity: 1;
}
.card:hover p, .card:hover .genre {
  opacity: 1;
  transition: opacity 0.5s 0.1s ease-in;
}
.card:hover img {
  transition: opacity 0.3s ease-in;
  opacity: 0.2;
}

.material-symbols-outlined {
  vertical-align: middle;
}






/* old designs */
.allmovies {
    background-color: #151515;
    min-height: calc(100vh - 50px);
    color: white;
  }
  
  .content-container {
    margin-left: 0px;
  }
  .fp1{
    min-height: 100%;
    height: 90vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('https://img.cataz.net/xxrz/1200x600/185/af/e3/afe3172b6a93ac1888d1c67a98af47d6/afe3172b6a93ac1888d1c67a98af47d6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    display: flex;
    justify-content: space-between;
  }
  .tMovies-backdrop{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 45px;
    padding-bottom: 60px;
  }
  .movieCard{
    background-color: #ffffff20;
    padding: 25px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.149);
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.077);
  }
  .tMovies-poster{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 20px;
    padding-right: 45px;
    padding-bottom: 45px;
  }
  

  .posterClass{
    display: flex;
    gap: 5px;
  }
  .poster{
    width: 100px;
    height: 150px;
    border-radius: 8px;
    transition: all 0.25s ease;
    border: 2px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
    cursor: pointer;
  }
  .poster img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
  }
  .poster--active {
    border-color: rgba(218, 28, 28, 0.9);
    box-shadow: 0 0 25px rgba(218, 28, 28, 0.45);
    transform: translateY(-6px);
  }
  .poster--active img {
    transform: scale(1.08);
  }
  



  .fp2{
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
  }
  
  .featured-content {
    height: 90vh;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  
  .featured-desc {
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
    text-shadow: 0px 0px 24px 5px white;
    font-size: 14px;
  }
  
  .featured-button {
    background-color: #bf0000;
    color: white;
    width: 190px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
  }
  
  .movie-list-container {
    padding: 0 20px;
    overflow: hidden;
  }
  
  /* .movie-list-wrapper {
    position: relative;
    overflow: hidden;
  } */
  
  .movie-list {
    display: flex;
    align-items: center;
    height: 300px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
  }
  
  .movie-list-item {
    margin-right: 30px;
    position: relative;
  }
  
  .movie-list-item:hover .movie-list-item-img {
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.4;
  }
  
  .movie-list-item:hover .movie-list-item-title,
  .movie-list-item:hover .movie-list-item-desc,
  .movie-list-item:hover .movie-list-item-button {
    opacity: 1;
  }
  
  .movie-list-item-img {
    transition: all 1s ease-in-out;
    width: 270px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .movie-list-item-title {
    background-color: #33333300;
    padding: 0 10px;
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    max-width: 300px;
    top: 5%;
    left: 10px;
    opacity: 0;
    transition: 1s all ease-in-out;
  }
  
  .movie-list-item-desc {
    background-color: #33333300;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 30%;
    left: 10px;
    width: 230px;
    opacity: 0;
    transition: 1s all ease-in-out;
  }
  
  .movie-list-item-button {
    padding: 5px 10px;
    background-color: #bf4c00;
    color: white;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;
    transition: 1s all ease-in-out;
  }
  
  .arrow {
    font-size: 120px;
    position: absolute;
    top: 90px;
    right: 0;
    color: lightgray;
    opacity: 0.5;
    cursor: pointer;
  }
  
  .container.active {
    background-color: white;
  }
  
  .movie-list-title.active {
    color: black;
  }
  
  .navbar-container.active {
    background-color: white;
  
    color: black;
  }
  
  .sidebar.active{
      background-color: white;
  }
  
  .left-menu-icon.active{
      color: black;
  }
  
  .toggle.active{
      background-color: black;
  }
  
  .toggle-ball.active{
      background-color: white;
      transform: translateX(-20px);
  }
  
/* ////////////////////////////////////////////////// */
/* //////////////////////////////////////////////// */
/* ////////////////////////////////////////////// */


  @media only screen and (max-width: 400px){
    .tMovies-backdrop{
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
    }
      .fp1{
         flex-direction: column;
         justify-content: flex-end;
      }
      .tMovies-poster{
        padding: 5px 10px ;
      }
      .posterClass{
        gap: 5px;
      }
      .poster{
          width: 75px;
          height: 110px;
      }
      #media-p{
        display: none;
      }

  }
  @media (401px <= width <= 790px){
    .fp1{
      flex-direction: column;
      justify-content: flex-end;
    }
    .tMovies-poster{
      padding: 5px 10px ;
    }
    .posterClass{
      gap: 5px;
    }
    .poster{
        width: 75px;
        height: 110px;
    }
    #media-p{
      display: none;
    }

  }

