<ng-container *ngIf="movie$ | async as movie; else loader">
  <div
    class="dContainer"
    [ngStyle]="{
      'background-image':
        'linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(' +
        imageBASEurl +
        movie.backdrop_path +
        ')'
    }"
  >
    <div class="imageSection" style="height: 450px">
      <img [src]="imageBASEurl + movie.poster_path" alt="" />
    </div>

    <div class="dSection">
      <div class="details">
        <h1 class="title">{{ movie.title }}</h1>

        <h6 class="dim">
          <i class="fa-solid fa-star" style="color: #c90303"></i>
          {{ movie.rate + " • " + movie.release_date }}
        </h6>

        <p class="dim genres" *ngFor="let g of movie.genres">
          {{ "• " + g.name }}
        </p>

        <p class="description">{{ movie.overview }}</p>

        <div class="staring">
          <p class="dim" style="font-size: 13px">Starring:</p>
          <p class="star" style="font-size: 13px">
            {{ movie.starring }}
          </p>
        </div>

        <div class="director">
          <p class="dim" style="font-size: 13px">Directed by</p>
          <p style="font-size: 13px">
            {{ movie.director }}
          </p>
        </div>
      </div>
    </div>

    <div class="youtube" *ngIf="movie.trailerUrl">
      <iframe
        width="500"
        height="294"
        [src]="movie.trailerUrl"
        title="YouTube"
        frameborder="0"
        allowfullscreen="1"
        class="img-cover"
        loading="lazy"
      ></iframe>
    </div>
  </div>
</ng-container>

<ng-template #loader>
  <div class="d-flex align-items-center justify-content-center w-100 vh-100">
    <app-loader></app-loader>
  </div>
</ng-template>
